:root {
  --primary-color: linear-gradient(to right, #c9fadd, #ffe099, #fab1b3);
  --additional-color: #fdfff5;
  --heading-font-family: "Aboreto", cursive;
  --additional-font-family: "Anek Telugu", sans-serif;
}

body {
  background: var(--additional-color);
}

.container {
  max-width: 900px;
  margin-top: 80px;
}

.container-footer h1 {
  font-size: small;
}

h1 {
  font-family: var(--heading-font-family);
  margin-top: 20px;
  text-align: center;
}

h2,
p {
  font-family: var(--additional-font-family);
  font-size: large;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: large;
}

.btn-box {
  max-width: 300px;
  margin: 85px auto;
  display: flex;
  justify-content: space-between;
}

a .additional-buttons {
  background: var(--primary-color);
}

a .additional-buttons:hover,
.button-learn-more:hover,
.contact-section-text:hover {
  color: darkolivegreen;
}

.bg-customized {
  background: var(--primary-color);
}

.subtitle {
  text-align: center;
  font-size: large;
  opacity: 0.7;
}

.button-learn-more {
  background: var(--primary-color);
}

.learn-more {
  margin-bottom: 15px;
  display: flex;
  justify-content: left;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
}

.icon-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whale-icon img {
  max-height: 160px;
}

.homepage-link {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  font-size: small;
}

.homepage-link:hover {
  color: grey;
}

.projects-images {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo-wrapper {
  width: 30px;
  height: 30px;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-section-text {
  text-decoration: none;
  font-family: var(--additional-font-family);
  opacity: 0.7;
  color: black;
  font-size: small;
}

a.nav-link.active-link {
  color: olive;
}

footer .cosial-links-footer a {
  margin: 0px 15px 10px;
  padding: 3px 15px;
  background: var(--primary-color);
  border-radius: 9px;
  font-size: 18px;
  color: black;
  opacity: 0.7;
}

footer .cosial-links-footer a:hover {
  background: var(--additional-color);
  color: olive;
}

@media (max-width: 576px) {
  h1 {
    font-size: larger;
  }
  h2,
  .subtitle {
    font-size: medium;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }
  .btn-box {
    margin: 55px auto;
  }
  .learn-more {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .portrait-about {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
  }
}
