:root {
  --primary-color: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  --heading-font-family: "Aboreto", cursive;
  --additional-font-family: "Anek Telugu", sans-serif;
}

body {
  background: var(--primary-color);
}

.container {
  max-width: 900px;
  margin-top: 20px;
}

h1 {
  font-family: var(--heading-font-family);
}

h2,
p {
  font-family: var(--additional-font-family);
}
